
body{
  background-color: lightblue;
}
#myForm{
/*padding-left: 40px;*/
}
.masterContainer{
    width:850px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
}
#header{
    text-align: center;
    padding:10px;
    margin:10px 0px 0px 0px;
}
#formContainer{
    display:inline-block;
}
#myForm{
    margin-left: auto;
    margin-right: auto;
}
#previewContainer{
    display:inline-block;
}
#htmlContainer{
    display:inline-block;
}
#sigContainer{
    /*border: 1px solid #777;*/
    margin:10px 10px;
}
#htmlContainer{
    margin:10px 10px;
    width: 96%;
}
#textArea{
    width:100%;
    height:300px;
}
btn{
    text-align:center;
}
