
body{
  padding:30px;
  width: 800px;
}

.displayArea{
  display:inlineBlock;
  width: 600px;
  height: 400px;
  border:#555;
}
#header{
    width:100%;
    background-color: white;
}
#sigContainer{
    position: relative;
    top: 0px;
    width:66%
}
#htmlContainer{
    position: relative;
    top:0px;
    width:66%;
}
